@import '~react-md/src/scss/react-md';
$md-primary-color: $md-amber-600;
$md-secondary-color: $md-blue-grey-600;
$md-tertiary-color: $md-grey-900;

.main-container,
.darker-background {
    background-color: $md-dark-theme-background-color;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
